@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}



<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>


        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (@Model.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Data Empréstimo</th>
                        <th>Data Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Emprestimo e in Model)
                    {
                        <tr>
                            <td>@e.Id</td>
                            <td>@e.NomeUsuario</td>
                            <td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@e.DataDevolucao.ToString("dd/MM/yyyy")</td>
                            <td>@e.Livro.Titulo</td>
                            <td>@e.Livro.Autor</td>
                            <td><a href="/Emprestimo/Edicao/@e.Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nenhum registro encontrado!</p>
        }
    </div>
    <script type="text/javascript" src="site.js"></script>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="Livro\Listagem">2</a></li>
            <li class="page-item active">
                <span class="page-link">
                    1
                    <span class="sr-only">(atual)</span>
                </span>
            </li>
            </li>
        </ul>
        <script>

            // total de páginas
            $total = 2;

            // número máximo de links da paginação
            $max_links = 10;


            // página corrente
            $pagina = 3;

            // calcula quantos links haverá à esquerda e à direita da página corrente
            // usa-se ceil() para assegurar que o número será inteiro
            $links_laterais = ceil($max_links / 2);

            // variáveis para o loop
            $inicio = $pagina - $links_laterais;
            $limite = $pagina + $links_laterais;

            for ($i = $inicio; $i <= $limite; $i++) {
                if ($i == $pagina) {
  echo " <strong>".$i. "</strong> ";
                }
                else {
                    if ($i >= 1 && $i <= $total) {
   echo " <a href=\"Livros.cshtml?pagina=".$i. "\">".$i. "</a> ";
                    }
                }
            }
        </script>
    </nav>


</div>
